<!--<body style="overflow-y: auto; overflow-x: hidden; width: 100% margin: 0px">
  <div style="height: 100vh">
  <form style="min-height: 100vh; display: flex; flex-direction: column;">
    <p style="margin-top:2px">On the left, there are many images. Please list the biases in these images.</p>
    <textarea style="flex: 1; overflow-y: scroll; width: 98%;" name="biases"></textarea>
    <button type="submit">Submit</button>
  </form>
  </div>
</body>-->
<body style="width: 100% margin: 0px; background-color: rgb(101, 116, 118);">
  <div>
  <form>
    <p style="margin-top:2px;color: white;">On the left, there are many images. Please write a paragraph describing the baises in the image dataset.</p>
    <textarea style="overflow-y: scroll; width: 98%; height: 50%" name="biases"></textarea>
    <button type="submit">Submit</button>
  </form>
  </div>
</body>
