{% extends 'base.html' %}
{% block css %}
<style>
.menu {
  float:left;
  width:20%;
  max-width:20%;
  height:100%;
  border:0;
  padding-left: 8px;
}
.mainContent {
  float:left;
  width:80%;
  height:100%;
  border:0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(101, 116, 118);
}
.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  text-align: center;
  /*width: 8.8%;*/
  /*width: 74px;*/
  width: 72px;
}
.flex-container > div > img {
  padding: 2px;
  width: calc( 100% - 4px );
}
</style>
{% endblock %}
{% block content %}
<div class="container" style="padding-bottom:100px">
<iframe class="mainContent" name="paneFrame" src="pane"></iframe>
<div class="menu">
  <div style="width: 100% margin: 0px; background-color: rgb(101, 116, 118);">
    <form method="POST" action="{% if maxPage <= 1 %}../{{ next }}/?next={{later}}{% else %}pane{% endif %}" {% if maxPage > 1 %}target="paneFrame"{% endif %} id="pane">
      {% csrf_token %}
      <p style="margin-top:2px;color: white;">On the left, there are many images. Please write a paragraph describing the biases in the image dataset.</p>
      <textarea style="overflow-y: scroll; width: 98%; height: 50%" name="biases" id="biases" {% if last == 'over' %}disabled{% endif %}></textarea>
      <input type="hidden" id="page" name="page" value="1">
      <input type="hidden" id="last" name="{{ last }}" value="1">
      <button type="submit" id="submit" {% if last == 'over' %}disabled{% endif %}>{% if maxPage > 1 %}More Images{% else %}Submit{% endif %}</button>
    </form>
    <script>
    //$('#biases').change(function(){
    //   $('#submit').removeAttr("disabled");
    //});
    var imgIndex = 1;
    $("#pane").submit(function( event ) {
       $('#page').val(imgIndex++);
       if (imgIndex == {{ maxPage }}) {
         $('#submit').text("Submit");
         $("#pane").attr("action", "../{{ next }}/?next={{later}}");
         $("#pane").removeAttr("target");
         $("#pane").removeAttr("method");
       }
       //$('#submit').attr("disabled", "disabled");
       return true;
    });
    </script>
  </div>
</div>
</div>
{% endblock %}
